/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html, body {
    min-height: 100%;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}
.col-1 {
    padding: 0px;
}
.col-2 {
    padding: 0px;
}
.col-3 {
    padding: 0px;
}
.col-4 {
    padding: 0px;
}
.col-5 {
    padding: 0px;
}
.col-6 {
    padding: 0px;
}
.col-7 {
    padding: 0px;
}
.col-8 {
    padding: 0px;
}
.col-9 {
    padding: 0px;
}
.col-10 {
    padding: 0px;
}
.col-11 {
    padding: 0px;
}
.col-12 {
    padding: 0px;
}
.row {
    padding: 0px;
    margin: 0px;
}


.form-label-group{
    position: relative;
    margin-bottom: 1.2rem;
}
.form-control {
    height: 50px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 1;
}

.input-class {
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 20px;
}
.ng-select.custom {
    border:1px;
    min-height: 40px;
    border-radius: 10px;
}
.ng-select.custom .ng-select-container  {            
    min-height: 40px;
    border-radius: 10px;
}
ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}