<div class="modal-header d-none">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="actionMsg">
        <h4>Are you sure?</h4>
        <p>You want to delete this user?</p>
        <button type="button" class="btn btn-secondary d-inline" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-custom d-inline"
          (click)="submit()">Delete</button>
      </div>
    </div>
  </div>