.block-style{
    background-color: rgba(216, 210, 210, 0.5);
}
.base-block{
    background-color: rgba(216, 210, 210, 0.5);
    padding: 20px;
}
.btn-style{
    float: right;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-block{
    font-size: 18px;
    background-color: grey;
    padding: 10px;
    margin: 0px;
}
.base-panel{
    padding: 10px;
    background-color: #ffffff;
}

