.header{
    background-color: rgba(29, 22, 22, 0.952);
    padding: 18px; 
    z-index: 15;
    outline: none;
    height:5%;
    width:100%;
}

.logo{
    width: 100%;
    height: 100%;
}
.icon-style{
    color: white;
    font-size: 20px;
}
.container-style{
    /* height: 100%;
    width: 100%; */
    background-color: #d4d3d3;
}
.base-panel{
    background-color: #ffffff;
    padding: 10px;
}


.menu-icon-style{
    width: 15px;
    background-color: #fdfdfd;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container-block {
    margin: 0px;
  /* height: 100vh; */
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.nav {
  /* background: hotpink; */
  /* background-color: rgba(49, 46, 46, 0); */
  background-color: #282121 !important;
  width: 100px;
  /* height: 100vh; */
-ms-flex: 0 100px;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;  
transition: all 0.4s ease-in-out ;

}

.nav.collapseInfo{
    width: 0px;
}
.main {
  background: aliceblue;
 -ms-flex: 1;
 /* height: 100vh; */
 width: 100%;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;  
}

.label-style{
    padding-left: 15px;
    margin: 0px;
}
.base{
    background-color: rgba(216, 210, 210, 0.5);
    border-left: 4px red solid;
    border-right: 1px  rgb(74 72 72) solid;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    height: max-content;
    width: 100%;
    
}

.title-line{
    font-size: 18px;
    font-weight: 600;
}

.hr-style{
    margin: 0px;
    
}