
<div class="container-fluid header"> 
    <div class="row">
        <div class="col-2">
            <div class="row"> 
                <div class="col-2">
                    <img class="menu-icon-style" (click)="_toggleSidebar()" src="../../assets/menu.png">
                </div>
                <div class="col-10">
                    <img class="logo" src="../../assets/logo1.png" (click)="redirect()">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-block">
    <div [ngClass]="_opened ? 'nav' : 'nav collapseInfo'">
      <div class="base">
        <p class="label-style">
            Users
        </p>
      </div>
    </div>
    
    <div class="main">
        <div class="title-line" >
            <p style="
            padding-left: 20px;
            padding-top: 10px;
            ">User Management</p>
            <hr class="hr-style">
        </div>
        <router-outlet></router-outlet>
    </div>
</div>