.base{
    background-color: rgba(216, 210, 210, 0.5);
    border-left: 4px red solid;
    border-right: 1px  rgb(74 72 72) solid;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
}
.label-style{
    padding-left: 15px;
    margin: 0px;
}