<!-- <div (click)="openDelete()"> 
    dcscs
    <i class="fa fa-trash-alt" ></i>
    <i class="fa fa-bars icon-style"></i>

</div>
<button id="gridactionBtn" type="button" click)="openDelete()"ria-controls="gridAction">
    <i class="fal fa-ellipsis-v fa-2x"></i>
    <i class="fa fa-trash-alt" ></i>
</button> -->
<!-- <i class="fa fa-trash-alt" ></i> -->
<div class="action-dropdown dropdown" container="body" placement="bottom right">
    <button id="gridactionBtn" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-controls="gridAction">
      <!-- <i class="fal fa-ellipsis-v fa-2x"></i> -->
      <i class="fa fa-bars icon-style"></i>

    </button>
    <ul id="gridAction"  class="dropdown-menu dropdown-menu-right animate2 slideIn2" role="menu" aria-labelledby="gridactionBtn">
      <!-- <li role="menuitem"><a class="dropdown-item" (click)="ViewFeedMembersModel(rowValue)">View Fund</a></li> -->
      <!-- <li role="menuitem"><a class="dropdown-item" *ngIf="rowValue.Active" (click)="changeStatus()">Deactivate</a></li>
      <li role="menuitem"><a class="dropdown-item" *ngIf="!rowValue.Active" (click)="changeStatus()">Activate</a></li> -->
      <li role="menuitem"><a class="dropdown-item" (click)="openDelete()">Edit Feed Profile</a></li>
    </ul>
</div>
  
