<div class="base-block">
  <div class="header-block row">
    <div class="col-8">
      <p>Manage User</p>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="container-fluid base-panel">
    <div class="row m-0">
      <div class="col-8">
        <div class="searchBox" >
          <img class="search-icon" src="../../assets/search.png" >
          <input type="search" class="searchField" placeholder="Search Keywords" (keyup)="onQuickFilterChanged($event)" (mouseup)="onClearSearchBox($event)">
        </div>      </div>
      <div class="col-4">
        <button class="btn-primary btn-style" (click)="create()">New</button>
      </div>
    </div>
      <ag-grid-angular
          style="width: 100%; height: 1000px"
          class="ag-theme-alpine"
          (gridOptions)="gridOptions"
          [rowData]="rowData"
          (gridReady)="gridReady($event)"
          [frameworkComponents]="frameworkComponents"
          (cellClicked)="onCellClick($event)"
          [columnDefs]="columnDefs"
          >
      </ag-grid-angular>
  </div>
</div>




<ng-template #template>
    <div class="modal-header d-none">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="actionMsg">
            <h4>Are you sure?</h4>
            <p>You want to delete this user?</p>
            <button type="button" class="btn btn-secondary d-inline" (click)="modalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-custom d-inline"
              (click)="submit()">Delete</button>
          </div>
        </div>
      </div>
</ng-template>    
