.block-style{
    background-color: rgba(216, 210, 210, 0.5);
}
.base-block{
    background-color: rgba(216, 210, 210, 0.5);
    padding: 20px;
}
.btn-style{
    float: right;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-block{
    font-size: 18px;
    background-color: grey;
    padding: 10px;
    margin: 0px;
}
.base-panel{
    padding: 10px;
    background-color: #ffffff;
}

.searchBox {
    position: relative;
    display: inline-block;
    /* margin-left: 10px; */
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #efefef;

}

.searchField {
    display: block;
    height: calc(1.5em + .75rem + 4px);
    padding: 10px 15px 10px 32px;
    font-size: 13px;
    font-weight: 400;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 183px;
}
.search-icon{
    width: 13px;
    position: absolute;
    top: 10px;
    left: 12px;
}