<div class="base-block">
    <div class="header-block row">
      <div class="col-8">
        <p>Manage User</p>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row m-0" style="padding: 50px;
    border: 1px solid grey;">
        <div class="col-6 " style="margin-top: 20px; margin-bottom: 20px;">

            <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-label-group">
                      <input
                      type="text"
                      id="user_name"
                      placeholder="user name"
                      formControlName="user_name"
                      class="form-control input-class">
                    <label for="user_name" style="font-size: 15px;">User Name</label>
                </div>
                <div class="form-label-group">
                    <!-- <ng-select [items]="roles_arr"
                            bindLabel="name"
                            autofocus
                            bindValue="name"
                            formControlName="role">
                    </ng-select> -->

                    <ng-select 
                    [items]="roles_arr" 
                    bindLabel="name" 
                    bindValue="name"
                    id="role"
                    name="role"
                    class="custom"
                    formControlName="role"
                    placeholder="Select role">
                    </ng-select>
                    <label for="role" style="font-size: 15px;">role </label>
                </div>
                <div class="form-group clearfix mb-0">
                  <button type="button" class="btn btn-secondary float-left" (click)="reset()">Reset</button>
                  <button type="submit" class="btn btn-primary float-right" >submit </button>
                </div>
              </form> 
        </div>

    </div>

</div>
  